<template>
  <div>
    <a-card
      style="margin-top: 24px"
      :bordered="false"
      title="参加过的评估">

      <div slot="extra">
        <a-input-search style="margin-left: 16px; width: 272px;"/>
      </div>
      <a-list size="large">
        <a-list-item :key="index" v-for="(item, index) in data">
          <a-list-item-meta :description="item.exam.examDescription">
            <a-avatar slot="avatar" size="large" shape="square" :src="item.exam.examAvatar"/>
            <a slot="title">{{ item.exam.examName }}</a>
          </a-list-item-meta>
          <div slot="actions">
            <a @click="viewExamScoreDetail(item.examRecord)">得分详情</a>
             <span>&nbsp;&nbsp;</span>
            <a @click="viewExamRecordDetail(item.examRecord)">评估详情</a>
          </div>
          <div class="list-content">
            <div class="list-content-item">
              <span>Owner</span>
              <p>{{ item.user.userUsername }}</p>
            </div>
            <div class="list-content-item">
              <span>开始时间</span>
              <p>{{ item.examRecord.examJoinDate }}</p>
            </div>
            <div class="list-content-item">
              <span>成熟度</span>
              <p>{{ item.examRecord.examTimeCost }}</p>
            </div>
            <div class="list-content-item">
              <span>等级</span>
              <p>{{ item.examRecord.examResultLevel }}</p>
            </div>
          </div>
        </a-list-item>
      </a-list>
    <score-view-modal ref="modalView"/>
    </a-card>
  </div>

</template>

<script>
import HeadInfo from '../../components/tools/HeadInfo'
import { getExamRecordList } from '../../api/exam'
import ScoreViewModal from './modules/ScoreViewModal'

export default {
  // 评估记录列表，记录考生参加过地所有评估和评估成绩
  name: 'ExamRecordList',
  components: {
    ScoreViewModal,
    HeadInfo
  },
  data () {
    return {
      data: {}
    }
  },
  methods: {
    /**
     * 根据评估记录的id拿到本次评估的详情并查看
     * @param record 评估详情的记录
     */
    viewExamRecordDetail (record) {
      // 直接跳到参加评估的页面，查看所有题目的详细情况
      const routeUrl = this.$router.resolve({
        path: `/exam/record/${record.examId}/${record.examRecordId}`
      })
      // 和点击评估卡片效果一样，跳转到评估页面，里面有所有题目的情况，相当于就是详情了
      window.open(routeUrl.href, '_blank')
    },
   /**
     * 根据评估记录的id拿到本次评估的得分并查看
     * @param record 评估详情的记录
     */
    viewExamScoreDetail (record) {
      console.log(record)
      this.$refs.modalView.edit(record)
    }
  },
  mounted () {
    // 从后端数据获取评估列表，适配前端卡片
    getExamRecordList().then(res => {
      if (res.code === 0) {
        this.data = res.data
      } else {
        this.$notification.error({
          message: '获取评估记录失败',
          description: res.msg
        })
      }
    }).catch(err => {
      // 失败就弹出警告消息
      this.$notification.error({
        message: '获取评估记录失败',
        description: err.message
      })
    })
  }
}
</script>

<style lang="less" scoped>
  .ant-avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

  .list-content-item {
    color: rgba(0, 0, 0, .45);
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 40px;

    span {
      line-height: 20px;
    }

    p {
      margin-top: 4px;
      margin-bottom: 0;
      line-height: 22px;
    }
  }
</style>
