<template>
  <a-layout>
    <a-layout-header class="header" style="color: #fff">
      <!--   v-if="examDetail.exam" 是为了防止 异步请求时页面渲染的时候还没有拿到这个值而报错， 下面多处这个判断都是这个道理 -->
      <span style="font-size:25px;margin-left: 0px;" v-if="examDetail.exam">
        <a-avatar slot="avatar" size="large" shape="circle" :src="examDetail.exam.examAvatar"/>
        {{ examDetail.exam.examName }}
        <span style="font-size:15px;">{{ examDetail.exam.examDescription }} </span>
      </span>
      <span style="float: right;">
        <span style="margin-right: 40px; font-size: 20px" v-if="recordDetail.examRecord">
          评估成熟度：<span style="color: red">{{ recordDetail.examRecord.examTimeCost }}</span>&nbsp;
          <span style="font-size:15px;">参加评估时间：{{ recordDetail.examRecord.examJoinDate }}</span>
        </span>

         <a-button type="danger" ghost style="margin-right: 60px;" @click="updateExam()">修改评估</a-button>

      </span>

    </a-layout-header>
    <a-layout>
      <a-layout-sider width="230" :style="{background: '#444',overflow: 'auto', height: '100vh', position: 'fixed', left: 0 }">
        <a-menu
          mode="inline"
          :defaultSelectedKeys="['1']"
          :openKeys="openKeys"
          @openChange="onOpenChange"
          :style="{ height: '100%', borderRight: 0 }"
        >
          <a-sub-menu v-for="(value, key) in examDetail.questionCategoryMap" :key="key">
            <span slot="title" v-if="value"><a-icon type="check-circle" theme="twoTone"/>{{key}}</span>
            <a-menu-item v-for="(item, index) in value" :key="item" @click="getQuestionDetail(item.questionId)">
              <a-icon type="check" v-if="resultsMap.get(item.questionId)==='True'"/>
              <a-icon type="close" v-if="resultsMap.get(item.questionId)==='False'"/>
          {{ index + 1 }}. {{item.questionKeyword}}
            </a-menu-item>
          </a-sub-menu>

        </a-menu>
      </a-layout-sider>
      <a-layout :style="{ marginLeft: '240px' }">
        <a-layout-content :style="{ margin: '24px 16px 0',height: '84vh', overflow: 'initial' }">
          <div :style="{ padding: '24px', background: '#fff',height: '84vh'}">
            <span v-if="currentQuestion === ''" style="font-size: 30px;font-family: Consolas">欢迎查看本次评估情况，点击左侧题目编号可以查看答题详情</span>
            <span v-if="currentQuestion !== ''">
              <strong>{{ currentQuestion.type }} </strong> {{ currentQuestion.name }} &nbsp;
            </span>
            <br><br>
            <!-- 单选题和判断题 --> <!-- key不重复只需要在一个for循环中保证即可 -->
            <a-radio-group @change="onRadioChange" v-model="radioValue">
              <a-radio v-for="option in currentQuestion.options" :key="option.questionOptionId" :style="optionStyle" :value="option.questionOptionId">
                {{ option.questionOptionContent }}
              </a-radio>
            </a-radio-group>

            <!-- 题目出错的时候才显示这块 -->
          <div v-if="currentQuestion!==''">
              <span style="color: red;"><br/>问题解析：<br/></span>
              <div v-html="currentQuestion.description"/>
            </div>

            <br><br>
            <div style="border: 1px solid #ccc;" v-if="showEdit">
              <Toolbar
                style="border-bottom: 1px solid #ccc"
                :editor="editor"
                :defaultConfig="toolbarConfig"
                :mode="mode"
              />
              <Editor
                style="height: 300px; overflow-y: hidden;"
                v-model="html"
                :defaultConfig="editorConfig"
                :mode="mode"
                @onChange="onChange"
                @onCreated="onCreated"
              />
            </div>

          </div>
        </a-layout-content>
        <a-layout-footer :style="{ textAlign: 'center' }">
         AMM ©2023 Crated by 彩虹风暴🌈
        </a-layout-footer>
      </a-layout>
    </a-layout>
  </a-layout>
</template>

<script>
import { getExamDetail, getQuestionDetail, getExamRecordDetail , updateExam,updateExam2} from '../../api/exam'
import UserMenu from '../../components/tools/UserMenu'
import { mapGetters } from 'vuex'
import { Editor, Toolbar } from '@wangeditor/editor-for-vue'

export default {
  name: 'ExamRecordDetail',
  components: {
    UserMenu,
    Editor,
    Toolbar
  },
  data () {
    return {
      // 评估详情对象
      examDetail: {},
      // 评估记录详情对象
      recordDetail: {},
      // 用户做过的问题都放到这个数组中，键为问题id, 值为currentQuestion(其属性answers属性用于存放答案选项地id或ids),，用于存放用户勾选的答案
      answersMap: {},
      commentsMap: {},
      // 题目的正确答案
      answersRightMap: {},
      // 题目的作答结果(正确或错误)
      resultsMap: {},
      // 当前用户的问题
      currentQuestion: '',
      // 单选或判断题的绑定值，用于从answersMap中初始化做题状态
      radioValue: '',
      // 单选题的正确答案，用于从answersRightMap中初始化做题状态
      radioRightValue: '',
      // 多选题的绑定值，用于从answersMap中初始化做题状态
      checkValues: [],
      openKeys: [''],
      // 多选题的绑定值，用于从answersRightMap中初始化做题状态
      checkRightValues: [],
      optionStyle: {
        display: 'block',
        height: '30px',
        lineHeight: '30px',
        marginLeft: '0px'
      },
      editor: null,
      html: '<p></p>',
      toolbarConfig: { },
      editorConfig: { placeholder: '请输入内容...' },
      mode: 'simple', // or 'simple'
      showEdit:false
    }
  },
  computed: {
    /**
     * 当前题目用户是否作答正确
     * */
    questionRight () {
      return this.resultsMap !== '' && this.resultsMap.get(this.currentQuestion.id) === 'True'
    }
  },
  mounted () {
    this.commentsMap = new Map()
    this.answersMap = new Map()
    this.answersRightMap = new Map()
    this.resultsMap = new Map()
    const that = this
    // 从后端获取评估的详细信息，渲染到评估详情里,需要加个延时，要不拿不到参数
    getExamDetail(this.$route.params.exam_id)
      .then(res => {
        if (res.code === 0) {
          // 赋值评估对象
          that.examDetail = res.data
          return res.data
        } else {
          this.$notification.error({
            message: '获取评估详情失败',
            description: res.msg
          })
        }
      })
    // 查看评估记录详情，渲染到前端界面
    getExamRecordDetail(this.$route.params.record_id)
      .then(res => {
        if (res.code === 0) {
          console.log(res.data)
          // 赋值评估对象
          that.recordDetail = res.data
          // 赋值用户的作答答案
          that.objToMap()
          return res.data
        } else {
          this.$notification.error({
            message: '获取评估记录详情失败',
            description: res.msg
          })
        }
      })
  },
  methods: {
    // 从全局变量中获取用户昵称和头像,
    ...mapGetters(['nickname', 'avatar']),
    /**
     * 把后端传过来的对象Object转换成Map
     **/
    objToMap () {
      for (const item in this.recordDetail.answersMap) {
        this.answersMap.set(item, this.recordDetail.answersMap[item])
      }

      for (const item in this.recordDetail.answersRightMap) {
        this.answersRightMap.set(item, this.recordDetail.answersRightMap[item])
      }

      for (const item in this.recordDetail.resultsMap) {
        this.resultsMap.set(item, this.recordDetail.resultsMap[item])
      }
      for (const item in this.recordDetail.commentsMap) {
        this.commentsMap.set(item, this.recordDetail.commentsMap[item])
      }
    },
    getQuestionDetail (questionId) {
      this.showEdit = true
      // 问题切换时从后端拿到问题详情，渲染到前端content中
      const that = this
      // 清空问题绑定的值
      this.radioValue = ''
      this.radioRightValue = ''
      this.checkValues = []
      this.checkRightValues = []
      getQuestionDetail(questionId)
        .then(res => {
          if (res.code === 0) {
            // 赋值当前评估对象
            that.currentQuestion = res.data
            if (that.commentsMap.get(that.currentQuestion.id)) {
              that.html = that.commentsMap.get(that.currentQuestion.id)
            }else{
              that.html = ''
            }
            // 查看用户是不是已经做过这道题又切换回来的，answersMap中查找，能找到这个题目id对应的值数组不为空说明用户做过这道题
            if (that.answersMap.get(that.currentQuestion.id)) {
              // 说明之前做过这道题了
              that.radioValue = that.answersMap.get(that.currentQuestion.id)[0]
              that.radioRightValue = that.answersRightMap.get(that.currentQuestion.id)[0]
            }
            return res.data
          } else {
            this.$notification.error({
              message: '获取问题详情失败',
              description: res.msg
            })
          }
        })
    }, /**
           * 单选题勾选是触发的变化事件
           * @param e
           */
          onRadioChange (e) {
            const userOptions = []
            userOptions.push(e.target.value)
            // 更新做题者选择的答案
            this.answersMap.set(this.currentQuestion.id, userOptions)
          },
                _strMapToObj (strMap) {
                  const obj = Object.create(null)
                  for (const [k, v] of strMap) {
                    obj[k] = v
                  }
                  return obj
                },
     /**
         *map转换为json
         */
        _mapToJson (map) {
          return JSON.stringify(this._strMapToObj(map))
        },
     /**
         * 结束评估并交卷
         */
        updateExam () {
          // Todo:向后端提交作答信息数组answersMap
       const userAnswers = []
       for (const [k, v] of this.answersMap) {
         const questionId = k;
         const questionAnswers = [v+'']
         const comments = this.commentsMap.get(k)
         const userAnswer = {questionId,questionAnswers,comments}
         userAnswers.push(userAnswer)
       }
       const jsonParam = JSON.stringify(userAnswers)
       console.log("json",jsonParam)
          updateExam2(this.$route.params.record_id, jsonParam)
            .then(res => {
              if (res.code === 0) {
                // 评估交卷，后端判分完成，然后跳转到我的评估界面
                this.$notification.success({
                  message: '修改成功！'
                })
                this.$router.push('/list/exam-record-list')
                return res.data
                return res.data
              } else {
                this.$notification.error({
                  message: '修改失败！',
                  description: res.msg
                })
              }
            })
        },
    onOpenChange(openKeys) {  // 当菜单被展开时触发此处
      /*
      经测试传入的变量openKeys是数组 点击已经展开的菜单时传入的是空数组
      点击未展开的菜单时传入的是[当前展开菜单的key,点击的菜单key]
      下面的if判断用openKeys === [] 无效 所以我只能判断数组length是否等于0
      */
      if (openKeys.length !== 0) {
        this.openKeys = [openKeys[1]]
      } else {
        this.openKeys = ['']
      }
    },onCreated(editor) {
      this.editor = Object.seal(editor) // 一定要用 Object.seal() ，否则会报错
    },
    onChange(editor) {
      console.log('onChange', editor.getHtml())
      this.commentsMap.set(this.currentQuestion.id, editor.getHtml())
    }
  },
  beforeDestroy() {
    const editor = this.editor
    if (editor == null) return
    editor.destroy() // 组件销毁时，及时销毁编辑器  60-65 3.8 5%；
  },
}
</script>

<style scoped>

</style>
<style src="@wangeditor/editor/dist/css/style.css"></style>