<template>
  <a-modal
    title="敏捷成熟度得分详情"
    :width="640"
    :visible="visible"
    :confirmLoading="confirmLoading"
    @cancel="handleCancel"
  >
    <a-spin :spinning="confirmLoading">
      <a-form :form="form">
        <h3>成熟度：{{ score.examTimeCost }}</h3>
        <h3>等级：{{ score.examResultLevel}}级</h3>
        <h3>分类得分雷达：</h3>


        <ve-radar :data="chartData"></ve-radar>

      </a-form>

    </a-spin>
    <template slot="footer">
      <a-button key="cancel" @click="handleCancel">关闭</a-button>
    </template>
  </a-modal>
</template>

<script>


import VCharts from 'v-charts'



export default {
  // 问题查看的弹出框，用于查看问题/修改问题
  name: 'ScoreViewModal',
  components: {
      VCharts
    },
  data () {
    this.chartSettings = {
        dimension: [''],

      }
    return {
      visible: false,
      confirmLoading: false,

      form: this.$form.createForm(this),
      // 每个问题
      score: {},
      options: [],
      answerOption: '',
      chartData: { }
    }
  },
  methods: {
  edit (record) {
   this.visible = true
      // 把当前的记录赋值到data中的变量
      this.score = record
      this.chartData=record.chartData
    },
    handleCancel () {
      // clear form & currentStep
      this.visible = false
    }
  }
}
</script>
