<template>
  <div class="banner-wrapper">
    <div class="banner-title-wrapper">
      <div class="title-line-wrapper" style="opacity: 1; transform: translate(0px, 0px);">
        <div class="title-line" style="transform: translateX(-64px);"></div>
      </div>
      <h1 class="" style="opacity: 1; transform: translate(0px, 0px);">AMM</h1>
      <p style="opacity: 1; transform: translate(0px, 0px);">
        <span>AGILE MATURITY MODEL(敏捷成熟度评估模型，简称AMM）是一面镜子帮助团队不断地持续改进，AMM从以下几个方面给予团队帮助：<br/>
              1. 评估与了解团队当前的敏捷成熟度<br/>
              2. 识别团队的优势和劣势<br/>
              3. 帮助团队设定成熟度目标和改进路径</span>
      </p>
    </div>
    <div class="banner-image-wrapper" style="opacity: 1;">
      <a-carousel arrows autoplay>
        <div v-for="i in 5" :key="i">
          <img :src="`/home/banner${i}.png`" style="height: 324px"/>
        </div>
      </a-carousel>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Banner'
}
</script>

<style lang="less">
  @import "home";
</style>
