<template>
  <div class="home-page page1">
    <div class="home-page-wrapper" id="page1-wrapper">
      <div class="page1-bg" style="transform: translate(0px, 200.953px);">Feature</div>
      <h2>
          AMM是以团队为核心，从整个团队发展过程中必须关注的三个视角：产品、技术、管理来整体评估整个团队的现状。评估分为5级： </h2>
      <div class="title-line-wrapper page1-line"></div>
      <list :data-source="features" />
    </div>
  </div>
</template>

<script>
import List from './List'
const featuresCN = [
  {
    title: 'Level 1 原始级',
    content: '当前团队有固定的人员和角色，刚刚接触部分敏捷实践，还处于磨合阶段，动作不规范',
    src: 'https://gw.alipayobjects.com/zos/rmsportal/VriUmzNjDnjoFoFFZvuh.svg',
    color: '#13C2C2',
    shadowColor: 'rgba(19,194,194,.12)'
  },
  {
    title: 'Level 2 入门级',
    content: '当前团队建立了良好的迭代节奏，能够通过不断回顾持续改进',
    src: 'https://gw.alipayobjects.com/zos/rmsportal/smwQOoxCjXVbNAKMqvWk.svg',
    color: '#2F54EB',
    shadowColor: 'rgba(47,84,235,.12)'
  },
  {
    title: 'Leve 3 基础级',
    content: '当前团队掌握了基本敏捷实践（管理、技术、产品），保持严格的敏捷纪律，并建立了持续交付的节奏',
    src: 'https://gw.alipayobjects.com/zos/rmsportal/hBbIHzUsSbSxrhoRFYzi.svg',
    color: '#F5222D',
    shadowColor: 'rgba(245,34,45,.12)'
  },
  {
    title: 'Level 4 成熟级',
    content: '当前团队的过程已经足够成熟，能够良好地响应市场和用户变化',
    src: 'https://gw.alipayobjects.com/zos/rmsportal/BISfzKcCNCYFmTYcUygW.svg',
    color: '#1AC44D',
    shadowColor: 'rgba(26,196,77,.12)'
  },
  {
    title: 'Level 5 创新级',
    content: '当前团队有能力发明新的技术和实践解决前所未遇到的问题',
    src: 'https://gw.alipayobjects.com/zos/rmsportal/pbmKMSFpLurLALLNliUQ.svg',
    color: '#FA8C16',
    shadowColor: 'rgba(250,140,22,.12)'
  }

]

export default {
  name: 'Page1',
  components: {
    List
  },
  data () {
    return {
      features: featuresCN
    }
  },
  created () {
    this.updateFeatures()
  },
  methods: {
    updateFeatures () {
      const arr = featuresCN
      const newArr = [[], [], []]
      arr.forEach((item, index) => {
        newArr[Math.floor(index / 3)].push(item)
      })
      this.features = newArr
    }
  }
}
</script>
